*{
    font-family: sans-serif;
    font-size: 20px;
}

body{
    background-color: beige;
    color: black;
}

p{
    color: black;
    text-align: justify;
}

-par{
    font: bold;
    color: blue;
}

-impar{
    font: bold;
    color: blanchedalmond;
}